*{
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(64, 125, 108);
}
#boxPrincipal{
  border:;
  padding: 10px;
  width: 90%;
  margin: auto;
}
#bemVindo{
  background-color: rgb(36, 76, 102) ;
  color: rgb(36, 36, 36);
  border-radius: 8px;
  padding: 3px;
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  font-family: 'Roboto Mono', monospace;
  width: 80%;
  margin: auto;
}
#titulo {
  max-width:640px;
  padding: 0px 0px 7px 0px;
  margin: auto;
}
#fotoBox{
    border:;
}
#foto{
    border-radius: 3%;
    max-width: 300px;
    padding: 12px;
    background-color: rgb(125, 178, 144);
   }
#conteudo{
    border:;
    background-color: rgb(64, 125, 108);
    border-radius: 10px;
    padding: 5px;
    display: flex;
}
#lista
{
    border: ;
    max-width: 15%;
    padding: 20px;
    margin-top: 25px;
    margin-left:25px;
    border-radius:4px;
    background-color: rgb(88, 123, 137);
}
ul{
    font-family: 'Ubuntu Condensed', sans-serif;
    color: rgb(22, 22, 22);
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 25px;
    font-weight: bolder;
   }
   li{
    font-size: 17px;
    line-height: 25px;
    font-weight: lighter;
    padding: 2px;
    margin-left:18px;
   }
   li:hover{
    background-color: rgb(181, 199, 204);
    border-radius: 3px;
   }
   /*li:active{
    color: aqua;
   }*/
   h2{
     color: rgb(36, 36, 36);   
     font-family: 'Ubuntu Condensed', sans-serif;
     font-size: 28px;
     font-weight: 300px;
     margin-left: 50px;
     margin-bottom: 10px;
   }
#textoMeu{
    border:;
    background-color: rgb(36, 76, 102);
    border-radius: 9px;
    max-width: 76%;
    padding: 10px 0px 0px 0px;
    margin:auto;
}
p{
  color: rgb(218, 218, 218);
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 18px;
  line-height: 35px;
  margin-left: 20px;
  margin-right: 20px;
}
#redes{
  border:;
  text-align: center;
  /*border: solid green;*/
  padding: 0px 0px 30px 0px;
  display: flex;
  /*width: 80%;*/
  margin-left: 240px;
}
#github{
  margin-left: 100px;
}
#linkedin{
  margin-left: 100px;
}
#betrybe{
  margin-left: 100px;
} 
.links{
  text-decoration: none;
  color: rgb(236, 163, 95);
}
