body {
    background-color: rgb(70, 144, 173);
  }
  
  *h1 {
    color: rgb(78, 241, 192);
    font-size: large;
  }
  
  *p {
    color: rgb(106, 252, 220);
    font-weight: bold;
  }
  
  *h2 {
    color: rgb(94, 85, 85);
    border: 3px solid rgb(161, 161, 161);
  }
  
  h5{
    text-decoration: none
  }